.hidden{
  display: none;
}
/*Head*/
img{   
  display: block;
  max-width: 100%;
  height: auto;
}
button{
  cursor: pointer;
}
.ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*Container*/ /*common*/

/*mobile*/
.container {            
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
}
/*tablet*/
@media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
}
/*desktop*/
@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding: 0 15px;
    width: 100%;
    }
}
/*Header Section-1*/
.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
    margin-right: auto;
    height: 72px;
    justify-content: space-between;
}
.nav-list,
.contacts{
  display: none; 
}
.logo { 
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.header-logo{
  padding: 16px;
  display:block;
}
.logo-accent{
  color: #2e2f42;
}
.burger-btn{
  padding: 0 ;
  border: none;
  background: transparent;
}
.burger-icon{
  display: block;
  fill:#2f2f37;
}
/*tablet*/
@media screen and (min-width:768px) {
    .burger-btn{
      display: none;}
    .nav-list {
    display: flex;
    gap: 40px;
    color: #404bbf;}
    .contacts {
    font-style: normal;
    display: block;
  }
    .header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
    .header-logo{
    padding: 24px 0;
    margin-right: 120px;
    }
.contact-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contact-link {
    font-size: 12px;
    line-height: 1.17px; 
    letter-spacing: 0.04em;
    color: #434455;
    
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list .link:hover,
.nav-list .link:focus,
.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}
.nav-list,  
.contact-list, 
.about-us-list, 
.team-list,  
.item-portfolio {
    list-style-type: none;
 }
.link{
    padding: 24px 0; 
    position: relative;
}
.link-active{
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px 0;
}
.link .link-active {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4,0,0.2,1);
}
.nav-list .link-active::after{
    content: '';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
}

/*desktop*/
@media screen and (min-width: 1158px) {
   .header-logo{ 
    margin-right: 76px;
}
  .contact-list {
  align-items: center;
  flex-direction: row;
  gap: 40px;
}
  .contact-link {
  padding:24px 0;
  font-size: 16px;
  line-height: 1.5px; 
  letter-spacing: 0.02em;
}
}
/*Main Section*/
.main-section {
    padding: 112px 0 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                     rgba(46, 47, 66, 0.7)), 
                      url(../images/people.jpg);
    height: 432px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;  
}
.main-title {
    color: #ffffff;
    font-size: 56px;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    line-height: 1.12;
    letter-spacing: 0.02em;
    font-variation-settings: "wdth" 100;
    max-width: 320px;
    margin: 0 auto 72px auto;
}
.main-box {
    color: #ffffff;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    gap: 10px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.main-section .main-box:hover,
.main-section .main-box:focus {
    background-color: #404BBF;
    cursor: pointer;
}
.main-title .main-box{
    margin-right: auto;
    margin-left: auto;
}
/*tablet*/
@media screen and (min-width:768px) {
.main-section {
    padding: 112px 0 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                     rgba(46, 47, 66, 0.7)), 
                      url(../images/people.jpg);
    height: 432px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;  
}
.main-title {
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    line-height: 1.12;
    letter-spacing: 0.02em;
    font-variation-settings: "wdth" 100;
    max-width: 320px;
    margin: 0 auto 72px auto;
}


.main-section .main-box:hover,
.main-section .main-box:focus {
    background-color: #404BBF;
    cursor: pointer;
}
.main-title .main-box{
    margin-right: auto;
    margin-left: auto;
}













}
