.hidden{
  display: none;
}
/*Head*/
img{    /*new*/
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*Container*/ /*common*/
/*mobile*/
.container {            
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
}
/*tablet*/
@media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
}
/*desktop*/
@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding: 0 15px;
    width: 100%;
    }
}
/*Header Section-1*/
.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
    margin-right:auto;
    height: 72px;
    justify-content: space-between;
}

.nav-list,
.contacts{
  display: none; 
}

.logo { 
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  
}
.header-logo{
  padding: 16px;
  display:block;
}
,
.logo-accent{
  color: #2e2f42;
}

.burger-btn{
  padding: 0 ;
  border: none;
  background: transparent;
}
.burger-icon{
  display: block;
  fill:#2f2f37;
}
