/* standart-styles */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.images {
    display: block;
}
/*picture {
    display: block;
}*/
a {
    text-decoration: none;
}
h1, h2, h3,h4, h5, h6, p {
    margin: 0;
}
button {
    cursor: pointer;
}
.main {
    display: block;
}
input {
    font-family: inherit;
}
.current {
    color: #404bbf;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* common */
.container {  
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
   .container {  
    max-width: 768px;
} 
}
@media screen and (min-width: 1158px) {
   .container {  
    max-width: 1158px;
    padding: 0 15px;
} 
}

/* header */
/* header-mobile */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
}
.nav-list, 
.contacts {
    display: none;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo {
    display: block;
    padding: 16px 0;
}
.header-logo {
  color: #4D5AE5; 
  }
  .logo-part{
    color: #2E2F42;
}
.burger-btn {
   margin-left: auto;
   padding: 0;
   border: none;
   background-color: transparent;
}
.burger-icon {
    display: block;
    fill: #2f2f37;;
}
/* mobile-menu */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.menu-mobile-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    padding: 0;
}
.mobile-menu-nav {
    margin-bottom: auto;
}
.nav-list-mobile {
    display: flex; 
    flex-direction: column;
    gap: 40px;
}
.mobile-contacts {
    font-style: normal;
}
.mobile-menu-link {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42; 
}
.nav-link { 
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42; 
    position: relative;
    color: #404bbf;
}
.mobile-contacts-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
        margin-bottom: 48px;
}
.email-link-mobile {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #4D5AE5;;
}
.tel-link-mobile {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}
.social-networks-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; 
}
.icon-mobile-menu-social {
    width: 40px;
    height: 40px; 
}
.mobile-menu-social-icon {
    fill: #f4f4fd;
}
.mobile-menu-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-close {
    stroke: #2e2f42;
}
/* header-tablet */
@media screen and (min-width: 768px) {
   .mobile-menu {  
    display: none;
} 
.contact-list { 
    display: flex;
    flex-direction: column;
    gap: 12px;

}
.burger-btn {
    display: none;
}
.header-nav {
    display: flex;
    align-items: center; 
}
.nav-list {
    display: flex;
    align-items: center; 
    gap: 40px;
}
.header-logo {
    margin-right: 120px;
    padding: 24px 0;
    }
.nav-link,
.link-active {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42; 
}
.nav-item {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42; 
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-active::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.contacts{
    font-style: normal;
    margin-left: auto;
    display: block;
}
.nav-link:hover,
.nav-link:focus{
   color: #404bbf; 
}
.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}
.contacts-list {
   display: flex;
   flex-direction: column;
    gap: 12px;
}
.contact-link {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
}
} 
/* header-desktop */
@media screen and (min-width: 1158px) {
   .header-logo {
    margin-right: 76px;   
}
.contact-list { 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;

}
.contact-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: "Roboto", sans-serif;
    line-height: 24px; 
    font-weight: 400; 
    font-style: normal;
    color: #434455;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}
 /*  <!-- section-hero --> */
 /* hero-mobile */
.main-section {
    background: #2e2f42;
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 320px;
    background-image: linear-gradient(
        rgba(46,47,66,0.7),
        rgba(46,47,66,0.7)),
    url(../images/peoplemobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.main-title {
    font-size: 36px;
    font-weight: 700px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 216px;
    margin: 0 auto;
}
.main-box {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 72px;
}
@media screen and (min-resolution: 192dpi) {
    .main-section {
        background-image: linear-gradient(
        rgba(46,47,66,0.7),
        rgba(46,47,66,0.7)),
        url(../images/peoplemobile@2x.jpg);
    }
}
.main-container {
    text-align: center;
}
/* hero-tablet */
@media screen and (min-width: 768px) {
   .main-section {
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46,47,66,0.7),
        rgba(46,47,66,0.7)),
        url(../images/peopletablet.jpg);
    }
.main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
}
.main-box {
    margin-top: 36px;
}
}
.icon-box {
    display: none;
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .main-section {
        background-image: linear-gradient(
        rgba(46,47,66,0.7),
        rgba(46,47,66,0.7)),
        url(../images/peopletablet@2x.jpg);
    }
    }

/* hero-desktop */
@media screen and (min-width: 1158px) {
.main-section {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46,47,66,0.7),
        rgba(46,47,66,0.7)),
        url(../images/peopledesktop.jpg);
}
.icon-box {
    display: none;
}
.main-box  {
    margin-top: 48px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-box:hover,
.main-box:focus {
    background-color: #404BBF;
}
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .main-section {
        background-image: linear-gradient(
        rgba(46,47,66,0.7),
        rgba(46,47,66,0.7)),
    url(../images/peopledesktop@2x.jpg);
}
}

.about {
    padding-top: 96px;
    padding-bottom: 96px;
}
.about-us-list {
    display: flex; 
    flex-direction: column;
    gap: 72px;
}
.item-about {
    width: 100%;
}

.team-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.team-name{
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.about-text{
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
/* about-tablet */
@media screen and (min-width: 768px) {
   .about-us-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
}
.item-about {
     width: calc((100% - 24px) / 2);
}
.team-name {
    text-align: left;
}
.about-text{
text-align: left;
}
}

/* about-desktop */
@media screen and (min-width: 1158px) {
    .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    background: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
        height: 112px;
}
.about {
    padding-top: 120px;
    padding-bottom: 120px;
}
.about-us-list { 
    flex-wrap: nowrap;
    gap: 24px;
}
.item-about {
    width: calc((100% - 72px) / 4);
}
.team-text {
    font-weight: 400;
}
.team-name {
    text-align: left;
}
    about-text{
        text-align: left;
}
}
/*TEAM */
.team {
   background-color: #f4f4fd;
   padding: 96px 0;
}
.name {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize; 
    margin-bottom: 72px;
}
.team-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    margin: 0 auto;
   
}
.team-list {
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
    width: 264px;
    border-radius: 0 0 4px 4px;
}
.name-text {
    text-align: center;
    padding: 32px 0;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /*text-align: center;
    margin-bottom: 8px;*/
}
.social-link-all {
    width: 40px;
    height: 40px; 
}
.social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;   
}
.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials-icon {
    fill: #f4f4fd;
}
.our-team{
    background-color: #f4f4fd;;
    padding-bottom:96px;
    padding-top: 96px;

}
/* our team-tablet */
@media screen and (min-width: 768px) {
    .our-team-container {
    min-width: 584px;
    }
.team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
   }
   .team-title{
    flex-direction: row;
    flex-wrap: wrap;
    gap:64px 24px;
    justify-content: center;
   }
   .name-text .team-name{
text-align: center;
}
   .personal-information {
width: calc((100% - 24px) / 2);
}
}
/* our team-desktop */
@media screen and (min-width: 1158px) {
    .our-team {
   padding: 120px 0;
   background-color: #F4F4FD;
}
.team-name{
text-align: center;
}
.team-title{
    display:flex;
    flex-wrap: nowrap;
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-list {
    gap: 24px;
    flex-wrap: nowrap;
    margin: 0 auto;
    background-color: #FFFFFF;
    width: calc((100% - 3 * 24px) / 4);;
  }
.tesm-text{
    text-align: center;
    margin-bottom:8px;
}
.social-networks-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks-link:hover,
.social-networks-link:focus {
    background-color: #404bbf;
}
.social-wrapper{
    margin-bottom: 0;
}
.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
}

/* PORTFOLIO*/
.portfolio {
    padding: 96px 0;
}
.name {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    ext-transform: capitalize; 
    margin-bottom: 72px;
}
.portfolio-icon {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 48px;
}
.item-portfolio {
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);;
    background-color: #fff;
}

.overlay-text {
    display: none;
}
.portfolio-item-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
@media(min-width: 1158px){
.portfolio-name-next {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: left;
}
}
/* portfolio-tablet*/
@media screen and (min-width: 768px) {
    .portfolio-icon {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
     }
.item-portfolio {
    width: calc((100% - 24px) / 2);
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-item-container{
   text-align: left; 
}
.portfolio {
    padding: 96px 0;
}
}
/*portfolio-desktop*/
@media screen and (min-width: 1158px) {
    .portfolio {
    padding: 120px 0;
}
    .portfolio-icon {
    row-gap: 48px;
     }
    .item-portfolio {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    .item-portfolio:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px
     rgba(46, 47, 66, 0.08);
    }
    .text{
        text-align: center;
    }
    .img-container {
    position: relative;
    overflow: hidden;
}
    .overlay-text {
    display: block;
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd; 
    padding: 40px 32px;
    background-color: #4d5ae5; 
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    .item-portfolio:hover p {
    transform: translateY(0%);  
}
}
/* footer */
.footer {
    background-color: #2e2f42;
    padding: 96px 0px;
}
.footer-container {
    display: flex;
   flex-direction: column;
} 

.footer-logo {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    color:#4d5ae5;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}
.footer-logo  {
    color: #F4F4FD;
}

.footer-logo-box {
    margin-bottom: 72px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px;
}
/* mobile*/
.social-wrapper {
    margin-bottom: 72px;
}
.social-title { 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-bottom: 16px;
}
.social-list { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
    }
.social-item-footer {
    width: 40px;
    height: 40px;
}
.social-link-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-footer {
    fill: #f4f4fd;
}
.icon-footer {
    fill: #f4f4fd;
}
.footer-label {
    width: 100%;
    margin-bottom: 16px;
    display:block;
}
.footer-second {
    display: flex;
    flex-direction: column;
}
.footer-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: center;
}
.footer-title {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-input {
    height: 40px;
    width: 288px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
}
.footer-input::placeholder {
    color: #ffffff;
}
.footer-button-form {
    margin: 16px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    padding-block: 8px;
    padding-inline: 24px;
    width: 165px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}
.footer-icon-button {
    fill: currentColor;
}
/* footer-tablet */
@media screen and (min-width: 768px) {
.page-footer {
    padding-top: 96px;
    padding-bottom: 96px;
}
.footer-container {
    max-width: 584px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
} 
.footer-logo {
    justify-content: flex-start;
    align-items: center;
  }
  .footer-logo-box{
    margin-bottom: 0;
    align-items: flex-start;
  }
  .social-wrapper{
    margin-bottom: 0;
  }
.footer-text {
    min-width: 264px;
}
.footer-form{
    display:flex;
    gap:24px;
}
    
.social-title {
    text-align: left;
}

.footer-title {
    text-align: left;
}
.footer-title{
    flex-direction: row;
    gap: 24px;
}
.footer-input {
    width: 264px;
}
}
@media(min-width:768px){
    .footer-form{
    display: flex;
    gap: 24px;
}
.footer-button-form {
    margin: anset;
}
}
/* dekstop */
@media screen and (min-width: 1158px) {
.page-footer {
    padding: 100px 0;
}
.footer-container {
   flex-wrap: nowrap;
   align-items: baseline;
   gap: 0;
   max-width: 1158px;
} 

.footer-text {
    min-width: 264px;
}
/* desktop-footer-social-media */
.social-title {
    text-align: left;
}
.social-wrapper{
    margin-bottom: 0;
}
}
@media(min-width:1158px){
.footer-logo-box {
    margin-bottom: 0;
    margin-right: 120px;
}
.footer-second {
    margin-left: auto;
}

}
.footer-button-form{
    margin: 0;
}
.footer-text {
    max-width: 264px;
}
.social-link-footer {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer:hover,
.social-link-footer:focus {
    background-color: #31d0aa;
}

.footer-second{
    margin-left: 80px;
}

/* MODAL */
.backdrop {
    background-color: rgba(46, 47, 66, 0.4);
        position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 288px;
    min-height: 623px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 72px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.backdrop .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.backdrop :not(.is-open).modal {
    translate: translate(-50%, -50%) scale(1.5);
}
.modal-close-button {
    position: absolute;
    top: 24px;   
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    padding: 0;
 
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color:  #2E2F42; 
    margin-bottom: 16px;
}
.modal-field {
    margin-bottom: 8px;
}
.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}
.modal-input-wrap {
    position: relative;
}
.form-label {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent; 
}
.modal-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.form-comment {
    margin-bottom: 16px;
}
.form-label-area{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent; 
    resize: none;
}

.form-checkbox {
    margin-bottom: 24px;
}
.checkbox-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.checkbox-box {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}
.checkbox-input:checked + .checkbox-label > .checkbox-box {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}
.checkbox-icon {
    fill: #f4f4fd;
}
.checkbox-link {
    color: #4d5ae5;;
}

.form-button {
    display: block;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    background-color: #4D5AE5;
    border: none;
    margin: 0 auto;
}
@media screen and (min-width: 767px) {
.modal {
    width: 408px;
min-height: 584px;
}
}

@media screen and (min-width: 1158px) {
.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404bbf;
    border: none;
}
.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover,
.modal-close-button:focus > .starter-button-icon {
    fill: #ffffff;
}
.form-label:focus {
    border-color: #4D5AE5;
}
.form-label:focus + .modal-input-icon {
   fill: #4D5AE5;
}
.form-label-area:focus {
    border-color: #4D5AE5;
}
}


